<div class="clientes-container">
  <p-confirmDialog></p-confirmDialog>
  <p-toast></p-toast>
  <div class="clientes-header" *ngIf="!creando">
    <h2><i class="pi pi-id-card"></i> Lista de Clientes</h2>
    <button class="btn-crear" (click)="abrirFormularioCrear()">
      <i class="pi pi-plus"></i> Nuevo cliente
    </button>
  </div>
  <div class="cliente-form-centrado" *ngIf="creando">
    <div class="formulario-card">
      <h3>{{ editando ? 'Editar cliente' : 'Crear nuevo cliente' }}</h3>
      <form [formGroup]="formulario" (ngSubmit)="editando ? actualizarCliente() : crearCliente()" class="formulario">
        <label for="rut">RUT:</label>
        <input id="rut" type="text" pInputText formControlName="rut" [readonly]="editando" />

        <label for="nombre">Nombre:</label>
        <input id="nombre" type="text" pInputText formControlName="nombre" />

        <label for="email">Email:</label>
        <input id="email" type="email" pInputText formControlName="email" />

        <label for="telefono">Teléfono:</label>
        <input id="telefono" type="text" pInputText formControlName="telefono" />

        <div class="checkbox-wrapper">
          <p-checkbox inputId="activo" formControlName="activo" [binary]="true"></p-checkbox>
          <label for="activo">Cliente activo</label>
        </div>

        <div class="form-buttons">
          <button type="submit" class="btn-guardar" [disabled]="formulario.invalid">Guardar</button>
          <button type="button" class="btn-cancelar" (click)="cancelarCreacion()">Cancelar</button>
        </div>

      </form>
    </div>
  </div>
  <div class="tabla-clientes" *ngIf="!creando">
    <table class="tabla-presupuestos-custom">
      <thead>
        <tr>
          <th>RUT</th>
          <th>Nombre</th>
          <th>Email</th>
          <th>Teléfono</th>
          <th>Activo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{ cliente.rut }}</td>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.telefono }}</td>
          <td>
            <p-tag [value]="cliente.activo ? 'Sí' : 'No'" [severity]="cliente.activo ? 'success' : 'danger'"></p-tag>
          </td>
          <td>
            <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-success p-button-sm"
              (click)="editarCliente(cliente)"></button>
            <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-sm"
              (click)="eliminarCliente(cliente.id)"></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-chatbot />
</div>